/* ===== BASE SITE CSS START ===== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --bg-color-primary: #dae1f0;
  --font-color-primary: #22165b;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* 0.625rem = 10px */
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.625rem;
}

/* 1.6rem = 16px */
body {
  font-size: 1.6rem;
  color: var(--font-color-primary);
}
/* ===== BASE SITE CSS END ===== */

/* --------- Main grid section --------- */
.main_grid_section {
  width: 100vw;
  height: 100vh;

  aspect-ratio: 16/9;
}

.main_grid_container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(7, 1fr);

  height: 100%;
  padding: 1rem;

  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.main_grid_container > div {
  border-radius: 1vw;
  background-color: var(--bg-color-primary);
}
/* --------- Main grid section END --------- */

/*  --------- Img section --------- */
.grid_box_1 {
  grid-area: 1 / 1 / 7 / 6;

  margin: 0 1rem 1rem 0;
  background-image: url('../assets/img/city.jpg');
  background-position: bottom;
  background-size: cover;
}

/*  --------- News section --------- */
.grid_box_2 {
  display: flex;
  grid-area: 7 / 1 / 8 / 12;
  align-items: center;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.news_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;

  width: 100%;
  height: 100%;

  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.news_title {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 2 / 2;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 1;

  width: 20rem;
  height: 100%;
  background-color: var(--bg-color-primary);
}

.news_title h3 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.news_title h4 {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;

  line-height: 3rem;
}

.news_title:after {
  content: '';

  position: absolute;

  width: 100%;
  height: 60%;
  border-right: 0.3rem solid rgb(34, 22, 91, 0.5);
}

.news_message {
  display: flex;
  grid-area: 1 / 2 / 2 / 6;
  align-items: center;

  width: max-content;
  height: 100%;
  background: none;

  font-family: 'montserrat', sans-serif;

  animation: slide-left 280s linear infinite;

  overflow: hidden;
}

.news_message p {
  display: inline;

  font-family: 'montserrat', sans-serif;
  font-size: 1.2vw;
  font-weight: 400;

  white-space: nowrap;
}

.news_message strong {
  color: rgb(34, 22, 91, 0.5);
}

@keyframes slide-left {
  from {
    -webkit-transform: translateX(4.2%);
    transform: translateX(4.2%);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/*  --------- Weather section --------- */
.grid_box_3 {
  grid-area: 1 / 6 / 4 / 9;

  width: 100%;
  height: 100%;
  margin: 0 0 1rem 0px;
}

.weather_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  width: 100%;
  height: 100%;
  padding: 1rem;

  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 1rem;
}

.weather_container > div {
  border-radius: 1vw;
  background-color: white;
}

.weather_box_1 {
  grid-area: 1 / 1 / 2 / 2;
}
.weather_box_2 {
  grid-area: 1 / 2 / 2 / 3;
}
.weather_box_3 {
  grid-area: 2 / 1 / 3 / 2;
}
.weather_box_4 {
  grid-area: 2 / 2 / 3 / 3;
}

/* --------- Viborg container --------- */
/* --------- Temp --------- */
.weather_viborg_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  width: 100%;
  height: 100%;

  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.temp_viborg {
  display: flex;
  grid-area: 1 / 1 / 2 / 2;
  align-items: center;
  justify-content: center;

  font-family: 'Open Sans', sans-serif;
  font-size: 3.2vw;
  font-weight: bold;
}

.icon_viborg {
  display: flex;
  grid-area: 1 / 2 / 2 / 3;
  align-items: center;
  justify-content: center;
}

.icon_viborg img {
  width: 3.8vw;
}

.text_viborg {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 1 / 3 / 3;
  justify-content: center;

  padding-left: 2rem;
}

.text_viborg > h3 {
  margin-top: -2rem;

  font-size: 1.6vw;

  line-height: 3vw;
}

.text_viborg > p {
  font-size: 0.8vw;
}

/* --------- Percentage --------- */
.percent_viborg_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  width: 100%;
  height: 100%;

  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.percent_viborg {
  display: flex;
  grid-area: 1 / 1 / 2 / 3;
  align-items: center;

  padding-left: 2rem;

  font-size: 3.2vw;
  font-weight: bold;
}

.percent_text_viborg {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 1 / 3 / 3;
  justify-content: center;

  padding-left: 2rem;
}

.percent_text_viborg > h3 {
  margin-top: -2rem;

  font-size: 1.6vw;

  line-height: 3vw;
}

.percent_text_viborg > p {
  font-size: 0.8vw;
}

/* --------- Aarhus container --------- */
/* --------- Temp --------- */
.weather_aarhus_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  width: 100%;
  height: 100%;

  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.temp_aarhus {
  display: flex;
  grid-area: 1 / 1 / 2 / 2;
  align-items: center;
  justify-content: center;

  font-family: 'Open Sans', sans-serif;
  font-size: 3.2vw;
  font-weight: bold;
}

.icon_aarhus {
  display: flex;
  grid-area: 1 / 2 / 2 / 3;
  align-items: center;
  justify-content: center;

  font-size: 3.2vw;
}

.icon_aarhus img {
  width: 3.8vw;
}

.text_aarhus {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 1 / 3 / 3;
  justify-content: center;

  padding-left: 2rem;
}

.text_aarhus > h3 {
  margin-top: -2rem;

  font-size: 1.6vw;

  line-height: 3vw;
}

.text_aarhus > p {
  font-size: 0.8vw;
}

/* --------- Percentage --------- */
.percent_aarhus_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  width: 100%;
  height: 100%;

  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.percent_aarhus {
  display: flex;
  grid-area: 1 / 1 / 2 / 3;
  align-items: center;

  padding-left: 2rem;

  font-size: 3.2vw;
  font-weight: bold;
}

.percent_text_aarhus {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 1 / 3 / 3;
  justify-content: center;

  padding-left: 2rem;
}

.percent_text_aarhus > h3 {
  margin-top: -2rem;

  font-size: 1.6vw;

  line-height: 3vw;
}

.percent_text_aarhus > p {
  font-size: 0.8vw;
}

/* --------- Meeting section --------- */
.grid_box_4 {
  grid-area: 4 / 6 / 7 / 9;

  margin: 1rem 0 1rem 0;

  overflow: hidden;
}

.grid_box_4 > h2 {
  margin-bottom: 3.5rem;
  padding: 2.5rem 0 0 3.5rem;

  font-size: 2.5rem;
  font-weight: 500;

  letter-spacing: 0.05rem;
}

.meeting_box {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0 2.9rem;
  margin-bottom: 1rem;
  padding: 0.3rem;
  padding: 1.5rem;
  border-radius: 1vw;
  background-color: white;
}

.meeting_box > div {
  width: 4rem;
  height: 4rem;
  border-radius: 1vw;
  background-color: #dae1f0;
}

.meeting_box > p {
  font-size: 1.8rem;
  font-weight: normal;
}

.meeting_date {
  margin-right: 1.8rem;
  padding-left: 0.5rem;
  padding-right: 1.8rem;
  border-right: 0.2rem solid rgb(34, 22, 91, 0.5);

  font-size: 1.8rem;
  font-weight: bold;
}

/* --------- Time & Dato container --------- */
.grid_box_5 {
  display: flex;
  grid-area: 1 / 9 / 2 / 12;
  align-items: center;
  justify-content: center;

  margin: 0 0 0 1rem;
}

.time_box {
  padding-right: 1.8vw;

  font-family: 'Open Sans', sans-serif;
  font-size: 4vw;
  font-weight: bold;
}

.date_box {
  display: flex;
  flex-direction: column;

  padding-left: 1.8vw;
  border-left: 0.2vw solid rgb(34, 22, 91, 0.5);

  gap: 0.2vw;
}

.date_box > h5 {
  font-size: 1.7vw;
  font-weight: bold;
}

.date_box_month {
  display: flex;

  gap: 1rem;
}

.date_box h6 {
  font-size: 1.4vw;
  font-weight: 500;
}

/* --------- Workplace container --------- */
.grid_box_6 {
  grid-area: 2 / 9 / 7 / 12;

  margin: 1rem 0 1rem 1rem;

  overflow: hidden;
}

.grid_box_6 > h2 {
  margin-bottom: 3.5rem;
  padding: 2.5rem 0 0 3.5rem;

  font-size: 2.5rem;
  font-weight: 500;

  letter-spacing: 0.05rem;
}

.workplace_box {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0 2.9rem;
  margin-bottom: 1rem;
  border-radius: 1vw;
  background-color: white;
}

.workplace_box > div {
  width: 4rem;
  height: 4rem;
  margin: 0.6rem;
  border-radius: 1vw;
  background-color: #dae1f0;

  aspect-ratio: 1/1;
}

.workplace_box > p {
  width: 100%;
  margin-left: 1.5rem;

  font-size: 1.8rem;
  font-weight: normal;
}

.workplace_box > h7 {
  margin-right: 2.5rem;

  font-size: 1.8rem;
  font-weight: bold;
  text-align: right;
}
